$default-font: 'Roboto';

$content-background: white;
$content-border: 1px solid #ECECEC;
$content-border-color: #ECECEC;
$control-border: 1px solid #DAD9D8;
$control-border-color: #DAD9D8;
$bottom-border: 1px solid #dadfe4;

$nav-height: 50px;

$blue-font-color: #007bff;
$dark-font-color: #262524;
$gray-font-color: #5C5C59;
$icon-font-color: #c1c2c6;

$asterisk-color: #e15759;