/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";
@import "../src/app/lib/leaflet-contextmenu/leaflet.contextmenu.css";
@import './app/theme.scss';

body, app-root {
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', 'Noto Sans KR';
    overflow-y: hidden;

    background: #f3f4f5 !important;
}

.fill {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    // outline: #333 solid 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Leaflet
.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.leaflet-control-container {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: $control-border;
    border-radius: 3px;
    color: $dark-font-color;
}

.leaflet-control-header {
    display: inline-block;
    height: 26px;
    width: 100%;
    background-color: white;
    border-bottom: $content-border;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.leaflet-control-header-text {
    padding-left: 2px;
    cursor: default;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: transparent;
    box-shadow: none;
}

.leaflet-tooltip-pane .text {
    font-weight: bold;
    background: transparent;
    border:0;
    box-shadow: none;
}

.leaflet-popup-content {
    width: auto !important;
}

.leaflet-popup-close-button {
    color: #555555 !important;
}

.leaflet-btn-menu {
    float: right;
    padding: .25rem .5rem;
    line-height: 1;
    border: 0px;
    border-radius: .2rem;
    font-size: .3rem;
    background-color: transparent;
}

// Font
.font-dark {
    color: $dark-font-color !important;
}

.font-gray {
    color: $gray-font-color !important;
}

.font-blue {
    color: $blue-font-color !important;
}

.font-italic {
    font-style: italic;
}

.font-view-title {
    font-size: 1rem;
    font-weight: bold;
}

.font-view-sub-title {
    font-size: 0.85rem;
}

.font-view-content {
    font-size: .85rem;
}

// Content Layout
.content-body {
    margin: 5px;
}

.content-view {
    background-color: $content-background;
    border: $content-border;
    border-radius: 3px;
    margin: 5px;
}

.content-header {
    height: 36px;
    border-bottom: $content-border;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-items: center;
}

.content-sub-header {
    height: 28px;
    border-bottom: $content-border;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-items: center;
}

.content-sub-header-updown {
    height: 28px;
    border-top: $content-border;
    border-bottom: $content-border;
    align-items: center;
}

.content-sub-header-down {
    height: 28px;
    border-bottom: $content-border;
    align-items: center;
}

.d-flex-ni {
    display: flex;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.abs-fill {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.pass-event {
    pointer-events: none;
}

.vertical-split {
    width: 1px;
    background-color: $content-border-color;
}

.horizontal-split {
    width: 100%;
    height: 1px;
    background-color: $content-border-color;
}

// Button
.btn-mini {
    background-color: $content-background;
    color: $dark-font-color;
    line-height: 1;
    font-size: .8rem;
    border: $control-border;
    border-radius: .2rem;
}

.btn-regular {
    background-color: $content-background;
    color: $dark-font-color;
    line-height: 1;
    font-size: 0.9rem;
    border: $control-border;
    border-radius: .2rem;
}

.btn-mini-disabled {
    background-color: $content-background;
    color: $icon-font-color;
    line-height: 1;
    font-size: .8rem;
    border: $control-border;
    border-radius: .2rem;
}

.btn-mini-disabled:hover {
    background-color: $content-background;
    color: $icon-font-color;
    line-height: 1;
    font-size: .8rem;
    border: $control-border;
    border-radius: .2rem;
}

.btn-normal {
    background-color: $content-background;
    color: $dark-font-color;
    line-height: 1.5;
    font-size: 1rem;
    border: $control-border;
    padding: .25rem .5rem;
}

.btn-icon {
    width: 26px;
    height: 26px;
    padding: 2px;
}

.btn-icon-text {
    height: 26px;
    padding: 2px 6px;
}

.btn-text {
    height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-mini-text {
    height: 20px;
    padding: 2px 4px;
}

.btn-sub-header {
    width: 28px;
}

// Form
.form-control-inline {
    display: inline-block;
    height: 1.5rem;
    padding: .1rem .1rem;
    border-radius: .2rem;
    text-align: center;
}

.form-margin {
    margin-left: .4rem;
    margin-right: .4rem;
}

// Select
.select-form {
    height: 1.5rem;
    border: 1px solid #CED4DA;
    border-radius: .2rem;
}
