<div class='content-view d-flex-ni flex-column abs-fill'>
    <div class='content-header d-flex-ni p-1 pl-2'>
        <div style="margin-right: 20px;">
            <span class='font-view-title font-dark'>User List</span>
        </div>
    </div>

    <div #rootDiv class='flex-grow-1 rel'>
        <div #canvasDiv class='abs-fill'></div>
        <div #svgDiv class='abs-fill'></div>
    </div>

    <!-- <div class="d-flex-ni ml-1 mr-1" style="height: 30px;">
        <button class='btn btn-regular btn-text' style="width: 100%;"
            (click)='onClickExplore()'>
            <span>Explore</span>
        </button>
    </div> -->
    
</div>